image-cropper {
	--cropper-outline-color: rgb(var(--ion-card-background-rgb) / 80%);
	--cropper-overlay-color: rgb(var(--ion-card-background-rgb) / 80%);

	.ngx-ic-cropper {
		.ngx-ic-resize {
			z-index: 2 !important;
		}

		&:focus .ngx-ic-move {
			border-color: var(--ion-color-primary) !important;
		}
	}
}
