#splash {
	background-color: var(--ion-background-color, #181818);

	svg {
		fill: var(--ion-color-primary, #8d61f5);
	}

	p {
		color: var(--ion-color-step-800, #d0d0d0);
	}

	.loader {
		--width: 0;
		--loader-color: var(--ion-color-primary);

		&::before {
			background: var(--loader-color);
			width: var(--width);
		}
	}
}
