<ion-content>
	<div class="flex items-center justify-center h-full">
		<ion-card class="w-full max-w-lg">
			<ion-card-header class="ion-text-center ion-padding ion-margin-bottom">
				<ion-card-title>Login</ion-card-title>
			</ion-card-header>
			<ion-card-content class="ion-padding">
				<ion-row>
					<ion-col class="ion-no-padding">
						<form
							[formGroup]="form"
							(ngSubmit)="submitRecord()">
							<ss-email
								controlKey="email"
								label="Email"></ss-email>
							<ss-password></ss-password>
							<div
								id="loginButtons"
								class="ion-margin-vertical">
								<ion-button
									class="ion-margin-vertical"
									expand="fill"
									[disabled]="!form.touched || (form.touched && form.invalid)"
									[appAsyncRef]="login$"
									size="full"
									color="primary"
									type="submit">
									Login
								</ion-button>
								<div class="text-center"><ion-text>OR</ion-text></div>
								<asl-google-signin-button
									class="flex justify-center mt-3"
									type="standard"
									[shape]="'rectangular'"
									[width]="230"
									text="continue_with"
									size="large"
									[theme]="'filled_black'"></asl-google-signin-button>
							</div>
						</form>
					</ion-col>
				</ion-row>
				<ion-buttons class="ion-justify-content-between">
					<ion-button
						replaceUrl="true"
						routerLink="/auth/register"
						color="primary"
						size="small"
						fill="clear">
						Create account
					</ion-button>
					<ion-button
						replaceUrl="true"
						routerLink="/auth/forget-password"
						color="primary"
						size="small"
						class="ion-text-end"
						fill="clear">
						Forgot Password
					</ion-button>
				</ion-buttons>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>

<div
	class="absolute right-5 top-5"
	id="googleLoginWrapper"></div>
