<ion-toolbar class="flex align-center">
	<app-shell-loading-bar class="absolute bottom-0 start-0 end-0"></app-shell-loading-bar>
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
		<ion-title>
			<div
				class="title"
				replaceUrl="true"
				routerLink="/home">
				<ion-icon
					name="code"
					size="large"></ion-icon>
				<p>Soft Side</p>
			</div>
		</ion-title>
	</ion-buttons>
	<ion-searchbar class="m-auto max-w-[400px] hidden md:block custom"></ion-searchbar>
	<ion-buttons slot="end">
		<ng-container *ngLet="(user$ | async) as user">
			<ion-button
				shape="round"
				id="profile-menu">
				<ion-chip>
					<ion-avatar>
						<img
							*ngIf="user?.photo"
							alt="Profile pic"
							[src]="user?.photo" />
						<div
							[ngStyle]="{
							'backgroundColor': theme.initialColors.backgroundColor,
							'color': theme.initialColors.textColor,
						}"
							class="h-full flex flex-col justify-center text-center">
							<ion-text class="text-1xl font-bold">
								{{ theme.getInitials(sessionService.getUserDisplay(user!)) }}
							</ion-text>
						</div>
					</ion-avatar>
					<ion-label class="ion-text-capitalize">{{sessionService.getUserDisplay(user!)}}</ion-label>
				</ion-chip>
			</ion-button>
			<ion-popover
				[ngStyle]="{'--max-width': '170px'}"
				trigger="profile-menu"
				triggerAction="click"
				dismissOnSelect="true"
				size="auto"
				side="bottom"
				alignment="end">
				<ng-template>
					<ion-list lines="none">
						<ion-item
							button
							routerLink="/profile"
							replaceUrl="true">
							<ion-icon
								class="ion-padding-horizontal"
								name="person-circle-outline"></ion-icon>
							<ion-label>My profile</ion-label>
						</ion-item>
						<ion-item
							button
							(click)="revealId(user?.id!)">
							<ion-icon
								class="ion-padding-horizontal"
								name="id-card-outline"></ion-icon>
							<ion-label>Show Id</ion-label>
						</ion-item>
						<ion-item
							button
							(click)="logout()">
							<ion-icon
								class="ion-padding-horizontal"
								name="log-out-outline"></ion-icon>
							<ion-label>Sign out</ion-label>
						</ion-item>
					</ion-list>
				</ng-template>
			</ion-popover>
		</ng-container>
	</ion-buttons>
</ion-toolbar>
